body{
	display: flex;
	justify-content: center;
  	align-content: center;
  	align-items: center;
  	flex-wrap: wrap;
	margin: 0px;
	background-color: #e6e6e6;
	background-image: url(images/CLOVER1.JPG);
}
img.blinky{
	width: 150px;
	margin: 0px;
}
.credit{
	font-family: 'Merriweather', serif;
	color: #4C4C4C;
	font-size: small;
}
#socials{
	font-family: 'Merriweather', serif;
	color: #16302B;
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	align-content: center;
  	align-items: center;
  	gap: 10px;
  	width: 80vw;
}
a.external{
	text-decoration: none;
	color: #16302B;
}
a.external::after{
	content: url("./images/external\ link.svg");
}
#socials span{
	font-size: larger;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  	align-content: center;
  	align-items: center;
  	flex-wrap: wrap;
    gap: 10px;
	height: fit-content;
	width: 100vw;
	padding-left: 30px;
	padding-right: 30px;
}
#blinkies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
  	align-content: center;
  	align-items: center;
  	flex-wrap: wrap;
    gap: 5px;
    height: fit-content;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
  	background-color: #8ca9c0ee;
}

a{
	color: #16302B;
}
#home{
	position: fixed;
	top: 0vh;
	left: 0vw;
	margin:10px;
	background-color: #8ca9c0ee;
	padding: 10px;
  	border-radius: 50px;
}
#home img{
	width: 30px;
	height: 30px;
}

#socials{
	font-family: 'Merriweather', serif;
	color: #16302B;
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	align-content: center;
  	align-items: center;
  	gap: 10px;
  	width: 100vw;
}
#socials span{
	font-size: larger;
}